<div class="container col-md-3 py-5">
  <form name="loginForm" method="post" autocomplete="off" ng-submit="verifyExistingUser(userInput)">
    <h3 class="text-center mb-5">Autentificare</h3>
    <div class="form-group">
      <input type="email" name="userEmail" class="form-control" placeholder="Email" ng-model="userInput.email" required>
      <div class="text-danger" ng-show="loginForm.userEmail.$error.email">
        <p>Email trebuie sa fie valid</p>
      </div>
    </div>
    <div class="form-group">
      <input type="password" name="userPassword" class="form-control" placeholder="Parola" ng-model="userInput.password" ng-minlength="6" ng-maxlength="20" required>
      <div class="text-danger" ng-if="loginForm.userPassword.$error.minlength || loginForm.userPassword.$error.maxlength">
        <p>Parola trebuie sa aiba 6-20 de simboluri</p>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">Intra</button>
      <button type="reset" class="btn btn-primary">Sterge</button>
    </div>
    <div ng-show="loginError">
      <p class="text-danger text-center mt-2">Ati introdus date incorecte</p>
    </div>
    <div ng-show="isLoggedIn">
      <p class="text-success text-center mt-2">Ati fost logati cu succes!</p>
    </div>
  </form>
  <div>
    <p class="text-center mt-2">Nu aveti cont?
      <a href="#" ng-click="toPage('register.html')">Inregistrare</a>
    </p>
  </div>
</div>